<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} {%thread} %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </root>

<!--    <springProfile name="default">-->
<!--        <include resource="org/springframework/boot/logging/logback/base.xml"/>-->
<!--    </springProfile>-->

<!--    <springProfile name="prod">-->
<!--        <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">-->
<!--            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>-->
<!--        </appender>-->
<!--        <root level="INFO">-->
<!--            <appender-ref ref="jsonConsoleAppender"/>-->
<!--        </root>-->
<!--    </springProfile>-->
</configuration>